<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meu carro!</title>
    <link rel="stylesheet" href="../photon/dist/css/photon.min.css">
    <link rel="stylesheet" href="../main.css">
    <script>window.$ = window.jQuery = require('jquery');</script>
        
    <script src="../src/controller.js"></script>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  </head>
  <body>
    <div class="window">
        
  
          <div class="toolbar-actions">
                <h2 style="color:  #6C7A89; display: inline;">Meus Carros!</h2>
              
            <div class="btn-group pull-right">
                <button id="btnMinus" class="btn btn-default">
                <span class="icon icon-minus"></span>
                </button>
                <button id="btnPlus" class="btn btn-default">
                <span class="icon icon-plus"></span>
                </button>
                <button id="btnCancel" class="btn btn-default">
                <span class="icon icon-cancel"></span>
                </button>
            </div>
          </div>
        </header>
  
        <div class="window-content">
          <div class="pane-group">
            <div class="pane container">
              <table class="table-striped" style="width: 70%; padding: 5%;">
                <thead>
                  <tr>
                    <th>Veículo</th>
                    <th>Placa</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="bodyTable">
                </tbody>
              </table>
              <button id="btnAddCar" class="btn btn-large btn-positive">
                Adicionar Veículo
              </button>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>